h1/* Box-level*/{
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    
   /* 

   MODO COMUM

   border: width 10px; 
    border-style: solid;
    border-color: darkslategray;*/

    /* MODO SIMPLIFICADO*/

    border:  10px solid darkslategray ;

    /*MODO COMUM

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;*/

    /*MODO SIMPLIFICADO*/

    padding: 10px 10px 10px 10px;
    
    /* MODO COMUM
    margin-top:20px ;
    margin-right:40px ;
    margin-bottom:20px ;
    margin-left:20px ;
    */

    /*MODO SIMPLIFICADO*/

    margin: 20px 20px 40px 20px;

    outline: width 5px; ;
    outline-style:dashed ;
    outline-color: salmon;

}

a/*inline-level*/{
    border: width 10px; ;
    border-style:solid ;
    border-color: red;;

    padding-top:10px ;
    padding-right:10px ;
    padding-bottom:10px ;
    padding-left:10px ;
}




